img {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  float: left;
  margin-right: 10px;
  object-fit: cover;
}
.username {
  font-weight: bold;
}
em {
  font-style: normal;
}
strong {
  font-weight: normal;
}
h3 {
  margin-top: 40px;
}