button {
  border: none;
  margin-bottom: 10px;
  cursor: pointer; /* Change cursor to hand */
}

/* Youtube 'SUBSCRIBE' Button*/
#yt {
  background-color: rgb(200, 0, 0);
  color: white;
  padding: 10px 16px;
  border-radius: 2px;
  transition: opacity 0.15s;
}
#yt:hover {
  opacity: 0.8;
}
#yt:active {
  opacity: 0.5;
}

/* Twitter 'JOIN' Button */
#twitter #join {
  color: rgb(41, 118, 211);
  background-color: white;
  border: 1px solid rgb(41, 118, 211);
  padding: 9px 16px;
  border-radius: 2px;
  margin-right: 8px;
  transition: background-color 0.15s, color 0.15s opacity 0.15s;
}
#twitter #join:hover {
  background-color: rgb(41, 118, 211);
  color: white;
}
#twitter #join:active {
  opacity: 0.7;
}

/* Twitter 'Tweet' Button */
#twitter #tweet {
  background-color: rgb(2, 158, 255);
  color: white;
  padding: 10px 16px;
  border-radius: 18px;
  font-weight: bold;
  font-size: 15px;
  transition: box-shadow 0.15s, opacity 0.15s;
}
#twitter #tweet:hover {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}
#twitter #tweet:active {
  opacity: 0.8;
}

/* Uber 'Request now' Button */
#uber {
  color: white;
  background-color: black;
  padding: 12px 15px;
  font-size: 14px;
  transition: opacity 0.15s;
}
#uber:hover {
  opacity: 0.8;
}
#uber:active {
  opacity: 0.6;
}

/* Amazon  Buttons */
#amazon button{
  color: black;
  padding: 7px 35px;
  font-size: 14px;
  border-radius: 15px;
}
#amazon button:nth-child(1) {
  background-color: rgb(255, 216, 20);
  margin-right: 6px;
}
#amazon button:nth-child(2) {
  background-color: rgb(255, 164, 28);
}
#amazon button:nth-child(1):hover {
  background-color: rgb(245, 205, 3);
}
#amazon button:nth-child(2):hover {
  background-color: rgb(245, 154, 10);
}

/* GitHub 'Sign up' Button */
#github {
  color: white;
  background-color: rgb(46, 164, 79);
  border-radius: 6px;
  padding: 12px 17px;
  font-size: 14px;
  font-weight: bold;
  transition: box-shadow 0.15s;
}
#github:hover {
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
}

/* Bootstrap Buttons */
#bootstrap button{
  padding: 12px 20px;
  font-size: 14px;
  font-weight: bold;
  border-radius: 4px;
}
#bootstrap button:nth-child(1) {
  color: white;
  background-color: rgb(121, 82, 179);
  /* This border is given to match the size of the other button*/
  border: 1px solid rgb(121, 82, 179);
  margin-right: 8px;
  transition: background-color 0.15s;
}
#bootstrap button:nth-child(2) {
  color: rgb(108, 117, 125);
  background-color: white;
  border: 1px solid rgb(108, 117, 125);
  transition: background-color 0.15s color 0.15s;
}
#bootstrap button:nth-child(1):hover {
  background-color: rgb(99, 60, 156);
}
#bootstrap button:nth-child(2):hover {
  background-color: rgb(108, 117, 125);
  color: white;
}

/* LinkedIn Buttons */
#linkedin button{
  padding: 12px 24px;
  font-size: 14px;
  font-weight: bold;
  border: 1px solid rgb(10, 102, 194);
  border-radius: 20px;
}
#linkedin button:nth-child(1) {
  color: white;
  background-color: rgb(10, 102, 194);
  margin-right: 8px;
  transition: background-color 0.15s, border-color 0.15s;
}
#linkedin button:nth-child(2) {
  color: rgb(10, 102, 194);
  background-color: white;
}
#linkedin button:nth-child(1):hover {
  background-color: rgb(2, 70, 138);
  border-color:rgb(2, 70, 138);
}
#linkedin button:nth-child(2):hover {
  background-color: rgb(226, 240, 254);
  border-width: 2px;
  padding: 11px 23px;
}

/* Green Buttons */

.green-btn{
  background-color: green;
  color: white;
  font-size: 14px;
  font-weight: bold;
  border-radius: 4px;
  padding: 8px 15px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
}
.green-btn:hover{
  background-color: rgb(1, 92, 1);
}

/* Stretch Button(using padding) */
#stretch {
  transition: padding 1s;
}
#stretch:hover {
  padding: 18px 36px;
}

/* Click Button (making a 3d click button using margin and shadow) */
#click{
  position: relative;
  display: block;
  height: 43px;
  width: 63px;
}
#click button {
  position: absolute;
  transition: background-color 0.15s, margin 0.15s, box-shadow 0.15s;
}
#click button:active {
  margin-top: 3px;
  margin-left: 3px;
  box-shadow: none;
}

/* Stretch buttons -> One Two and Three */
.margin-stretch {
  margin: 0px 10px;
  transition: padding 0.15s, margin 0.15s, background-color 0.15s;
}
.margin-stretch:hover {
  background-color: rgb(1, 92, 1);
  padding: 8px 25px;
  margin: 0px;
}
