/* Common to both */
.main-div{
  display: flex;
  width: fit-content;
  margin: auto;
  border-radius: 6px;
  padding: 30px;
  gap: 30px;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.3);
}

/* Google */
#google-div {
  flex-direction: column;
  align-items: center;
}
#google-div img {
  width: 200px;
}
#google-div input {
  font-size: 16px;
  width: 500px;
  border: 0.5px solid rgb(230, 225, 225);
  padding: 12px 15px;
  border-radius: 30px;
  outline: none;
}
#google-div input:hover {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
}
#google-div button{
  background-color: rgb(236, 233, 233);
  border: none;
  font-size: 15px;
  padding: 12px 20px;
  cursor: pointer;
}
#google-div .button-div{
  display: flex;
  gap: 10px;
}


/* Facebook */

#fb-div {
  justify-content: center;
}
#fb-div .friend-div {
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}
#fb-div img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  object-position: top;
  margin-bottom: 10px;
}
p {
  font-family: Arial;
  margin: 0px 0px 4px 10px;
}
.name-text {
  font-weight: bold;
}
.mutual-text {
  color: rgb(100, 100, 100);
}
#fb-div button {
  color: white;
  background-color: rgb(39, 124, 227);
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  margin: 10px;
}

