.cover {
  width: 300px;
  height: 300px;
  object-fit: cover;
  object-position: top;
  border: 2px solid black;
}

.fit {
  width: 300px;
  height: 300px;
  object-fit: contain;
  object-position: centre;
  border: 2px solid black;
}

.round {
  width: 300px;
  height: 300px;
  border-radius: 300px;
  object-fit: cover;
  object-position: top;
  border: none;
}
