/* Setting the size of each video card based on window width */
#main-root {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 16px 40px;
}

@media (max-width: 750px) {
  #main-root {
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 751px) and (max-width: 999px) {
  #main-root {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media (min-width: 1000px) {
  #main-root {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

/* Setting the top portion of video ie 'Thumbnail Image' and 'Time Div' */
.video-card-top {
  position: relative;
}
.video-card-top img {
  width: 100%;
}
.video-card-top div {
  position: absolute;
  background-color: black;
  color: white;
  inset: auto 5px 8px auto;
  border-radius: 2px;
  padding: 4px;
  font-size: 12px;
  font-weight: 500px;
}

/* Setting the bottom portion of video */
.video-card-bottom {
  display: flex;
  gap: 14px;
  margin-top: 8px;
}
.video-card-bottom img {
  width: 36px;
  height: 36px;
  border-radius: 50%;
}
.video-card-bottom div > :nth-child(1) {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  margin-bottom: 10px;
}
.video-card-bottom div > :nth-child(2) {
  color: rgb(96 96 96);
  font-size: 12px;
  margin-bottom: 4px;
}
.video-card-bottom div > :nth-child(3) {
  color: rgb(96 96 96);
  font-size: 12px;
}
