#main-root {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 16px 40px;
}

@media (max-width: 750px) {
  #main-root {
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 751px) and (max-width: 999px) {
  #main-root {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media (min-width: 1000px) {
  #main-root {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.video .thumbnail img {
  width: 100%;
}

.video .channel-image img {
  width: 36px;
  border-radius: 18px;
}

.bottom {
  display: flex;
  gap: 14px;
  margin-top: 8px;
}

.info .video-name {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  margin-bottom: 10px;
}

.info .channel-name {
  color: rgb(96 96 96);
  font-size: 12px;
  margin-bottom: 4px;
}

.info .stats {
  color: rgb(96 96 96);
  font-size: 12px;
}

.thumbnail {
  position: relative;
}

.time {
  position: absolute;
  background-color: black;
  color: white;
  inset: auto 5px 8px auto;
  border-radius: 2px;
  padding: 4px;
  font-size: 12px;
  font-weight: 500px;
}
