#sidebar-root {
  position: fixed;
  z-index: 200;
  background-color: white;
  width: 72px;
  inset: 55px auto 0 0;
  padding-top: 5px;
}
#sidebar-root .container {
  all: unset;
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%; /* Setting width same as width of sidebar */
  aspect-ratio: 1; /* Setting height same as width */
  font-size: 10px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
#sidebar-root .container img {
  height: 24px;
}
#sidebar-root .container:hover {
  background-color: rgb(235 235 235);
}
